<%- include ('header') %>

<div id="body">
    <nav class="nav_bar" id="nav2">
        <span id="nav_btn1"><h5>전공</h5></span>
        <span id="nav_btn2"><h5>교양</h5></span>
        <span id="nav_btn3"><h5>교직</h5></span>
        <span id="nav_btn4"><h5>일선</h5></span>
        <!-- if (전공 == 참)일경우 document.write(밑에 3줄) -->
        <span><h5>단과대</h5></span>
        <span><h5>전공</h5></span>
        <span><h5>학년</h5></span>
        <!-- <span><input></span> -->
    </nav>
    <!-- <nav class="nav_bar" id="nav3">
        <span><h5>평가 높은 순</h5></span>
        <span><h5>평가 낮은 순</h5></span>
        <span><h5>평가 많은 순</h5></span>
        <span>
            <input>
            <h5>검색</h5>
        </span>
    </nav> -->
    <div class="sources">
        <table id="table">
            <tbody>
                <tr id="line">
                    <td colspan="2">
                        <h4>
                            강의
                        </h4>
                    </td>
                    <td>
                        <h4>
                            선호도
                        </h4>
                    </td>
                    <td>
                        <h4>
                            평가 수
                        </h4>
                    </td>
                </tr>
            </tbody>
            <!-- 10개마다 페이지 넘어가게 만들기 -->
            <tfoot>
                <% arr.forEach(function (arr, index) { %>
                    
                    <% arr.교수명 = arr.교수명.split(', ') %>
                    <tr>
                        <td id="lec_name" colspan="2">
                            <h5><%=arr.과목명%></h5>
                        </td>
                        <td id="rate" rowspan="2">
                            <h5>
                                <%= (arr.강의평점 * 100) + "%"%>
                            </h5>
                        </td>
                        <td id="rate_count" rowspan="2">
                            <h5>
                                <%= arr.강의평점%>
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5 id="teacher">
                                <% if(arr.교수명.length > 1) { %>
                                <%=arr.교수명[0]%> 외 <%=arr.교수명.length - 1%>명
                                <% } else {%>
                                <%=arr.교수명%>
                                <%}%>
                            </h5>
                        </td>
                        <td>
                            <h5 id="division"><%=arr.전공구분%></h5>
                        </td>
                    </tr>
                <% }); %>
            </tfoot>
        </table>
    </div>
</div>

<%- include ('footer') %>
